<div class="contacts">
    <div class="contacts-container">
        <img class="img-logo-contacts" src="assets/img/logo-pizzaria.png" alt="">
        <div class="contacts-content">
            <p>Para entrar em contato conosco, você pode usar os seguintes meios:</p>
            <div>
                <ul class="contacts-list">
                    <li>
                        <img src="assets/img-icons/icon-telefone.png" alt="telefones">
                        <span><strong>Telefone:</strong> (41)3273-2145 | <strong>Whatsapp:</strong> (41)99744-9380</span>
                    </li>
                    <li>
                        <img src="assets/img-icons/icon-email.png" alt="email">
                        <span><strong>E-mail:</strong> diskpizzactba.com.br</span>
                    </li>
                    <li>
                        <img src="assets/img-icons/icon-location.png" alt="localização">
                        <span>R. Luis Braile, 135</span>
                    </li>
                    <li>
                        <img src="assets/img-icons/icon-time.png" alt="horários">
                        <span>Segunda a sábado, das 18:00 às 23:00</span>
                    </li>
                    <li>
                        <img src="assets/img-icons/icon-moto.png" alt="entrega">
                        <span>Entrega grátis nas regiões: <strong>São Brás, Santo Inácio e Santa Felicidade</strong></span>
                    </li>

                </ul>
            </div>
            <div class="content-social">
                <ul class="contacts-social">
                    <li> <a href="https://www.instagram.com/diskpizzactba/"><img src="assets/img-icons/icon-instagram.svg" alt="instagram"> </a> </li>
                    <li> <a href="https://www.facebook.com/diskpizzasandra/?locale=pt_BR"><img src="assets/img-icons/icon-facebook.svg" alt="facebook"></a> </li>
                    <li> <a href=""><img src="assets/img-icons/icon-whatsapp.svg" alt="whatsapp"></a> </li>
                </ul>
            </div>
        </div>

    </div>
</div>