<div class="contacts">
    <div class="contacts-container">
        <img class="img-logo-contacts" src="assets/img/logo-pizzaria.png" alt="">
        <div class="contacts-content">
            <p>Para entrar em contato conosco, você pode usar os seguintes meios:</p>
            <div>
                <ul class="contacts-list">
                    <li> <img src="assets/img-icons/icon-telefone.png" alt="telefones"> <strong>Telefone: (41)3273-2145 |
                            Whatsapp
                            (41)99744-9380 </strong></li>
                    <li> <img src="assets/img-icons/icon-email.png" alt="email"> <strong>E-mail: diskpizzactba.com.br
                        </strong></li>
                    <li> <img src="assets/img-icons/icon-location.png" alt="localização"> R. Luis Braile, 135</li>
                    <li> <img src="assets/img-icons/icon-time.png" alt="horários"> Segunda a sábado, das 18:00 às 23:00
                    </li>
                    <li> <img src="assets/img-icons/icon-moto.png" alt="entrega"> Entrega grátis nas regiões: <strong>São Brás,
                        Santo Inácio e Santa Felicidade</strong> </li>

                </ul>
            </div>
            <div class="content-social">
                <ul class="contacts-social">
                    <li> <a href="https://www.instagram.com/diskpizzactba/"><img src="assets/img-icons/icon-instagram.svg" alt="instagram"> </a> </li>
                    <li> <a href="https://www.facebook.com/diskpizzasandra/?locale=pt_BR"><img src="assets/img-icons/icon-facebook.svg" alt="facebook"></a> </li>
                    <li> <a href=""><img src="assets/img-icons/icon-whatsapp.svg" alt="whatsapp"></a> </li>
                </ul>
            </div>
        </div>

    </div>
</div>