h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-style: normal;
    text-align: center;
    letter-spacing: 0.8px;
    color: #ebe3e3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.328);
    margin: 0;
    padding: clamp(0.8rem, 3vw, 1.25rem) 0;
}