.body {
    background-color: #a0522d;
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.8px;
    color: #ebe3e3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.flavor-name-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: #4b2e2ec1;
    padding: 8px 0;
    font-size: 1.1rem;
    font-family: "Playfair", serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.flavors-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.flavor-card {
    position: relative;
    margin: 16px 16px auto;
    width: 240px;
    display: inline-block;
    align-items: center;
    vertical-align: top;
    transition: all 0.3s ease-in-out;
}

.flavor-card:hover {
    transform: scale(1.01);
    outline: rgba(0, 0, 0, 0.441);
}

.flavor-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.flavors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-complete {
    display: block;
    align-items: center;
    justify-content: center;
    width: 14%;
    padding: 12px;
    color: #f5f1f1;
    background: rgba(227, 247, 129, 0.438);
    text-align: center;
    font-size: 1.6rem;
    font-family: "Bangers", system-ui;
    ;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2rem auto;
    transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.581);
}

.menu-complete:hover {
    background: rgba(227, 247, 129, 0.475);
    transform: scale(1.05);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.flavor-ingredients {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #333;
    font-size: 1.1rem;
}